#ui. love_word {
    color: #ea80b0;
    font-size: 1.4rem;
    transform: translateY(-100%) ;
    text-shadow: 0 0 10px #fffï¼›
    letter-spacing: 2px;
    white-space: nowrap;
rotateZ(-30deg) ;}
    #ui .love_horizontal {
        animation: horizontal 10000ms
        infinite alternate ease-in-out;
        animation-delay: calc(var (--i) * -300ms;
    }